<ion-view view-title="My PiggyBank">
  <ion-content>


    <ion-list>
      <li class="item">
        <label class="input-label"> Range Select Problem: (min) and (max)
          <div class="range range-assertive" >
            <i class="icon ion-android-plane"></i>Leisure</ion-item>
            <input type="range" min="0" max="39" value="5" step="1">
            <i class="icon ion-android-plane larger"></i>
            </ion-item>
          </div>

        </label>
      </li>
    </ion-list>


    <ion-list>
      <ion-item class="item-icon-left">
        <ion-item class="range range-dark">
          <i class="icon ion-ios7-sunny-outline"></i>
          <input type="range" value="50" min="0" max="100" step="1">
        </ion-item>
      </ion-item>
      
      <ion-item class="item-icon-left">
        <i class="icon ion-android-plane"></i>Leisure</ion-item>
      <ion-item class="range range-positive">% rate
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-android-bicycle"></i>Health &amp; Beauty</ion-item>
      <ion-item class="range range-positive">% rate
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-android-cart"></i>Daily Expenses</ion-item>
      <ion-item class="range range-positive">% rate
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-android-home"></i>Housing &amp; Utilities</ion-item>
      <ion-item class="range range-positive">% rate
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-medkit"></i>Emergency</ion-item>
      <ion-item class="range range-positive">% rate
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>