<ion-view view-title="Dashboard">
  <ion-content>

    <div class="dashboard-main-container animated bounceInDown">
      <h3>Chantal Chan</h3>
      <div class="avatar-conatainer">
        <span class="badge">Lv10</span>
        <span class="badge-notify"><span class="checker">✓</span></span>
          <!--<img class="badge-notify" src="/img/verified_user.png">-->        
        <img ng-src="img/chantal.png">
      </div>      
      
      <img ng-src="img/bea_card.png" width="300px">

    </div>

    <div class="card chart-card">
      <div class="item item-text-wrap">
        <canvas id="line" class="chart chart-line" data="lineData" labels="lineLabels" legend="true" series="lineSeries" options="{showTooltips: false}"></canvas>
      </div>
      <div class="item item-text-wrap">
        <canvas id="doughnut" data="pieData" labels="pieLabels" class="chart chart-doughnut" legend="true" series="series" options="{showTooltips: false}">
        </canvas>
      </div>
    </div>

  </ion-content>
</ion-view>
